*
{
    padding: 0; 
    margin: 0;
    font-size: 2vmin;
}

body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(75, 75, 75);
}

::-webkit-scrollbar 
{
    width: 1.5vmin;
    background-image: linear-gradient(45deg,red,blue,yellow,green);
    background-size: auto 300%;
    background-position: top;
    border: 0.25vmin solid black;
}

::-webkit-scrollbar:hover
{
    transition: 2s;
    background-position: bottom;
}


::-webkit-scrollbar-thumb
{
    background: rgba(255, 255, 255,1);
    border: 0.25vmin solid black;
}

::-webkit-scrollbar-thumb:hover
{
    background: rgba(255, 255, 255,0.5);
}

html
{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

a, p, h6
{
    font-size: 2vmin;
}

h5
{
    font-size: 2.5vmin;
}

h4
{
    font-size: 3vmin;
}

h3
{
    font-size: 3.5vmin;
}

h2
{
    font-size: 4vmin;
}

h1
{
    font-size: 5vmin;
}

header
{
    width: 100%;
    height: 10vmin;
    background-color: rgb(33, 33, 33);
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    z-index: 10;
    border-bottom: 0.2vmin solid white;
    border-top: 0.2vmin solid white;
}

footer
{
    width: 100%;
    height: 10vmin;
    background-color: rgb(33, 33, 33);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    border-top: 0.2vmin solid white;
    border-bottom: 0.2vmin solid white;
}

header img
{
    height: 6vmin;
    width: 6vmin;
    margin-left: 6vmin;
    transition: 1s;
    animation: logo 2s;
    animation-iteration-count: 1;
}

@keyframes logo
{
    from
    {
        transform: translateX(-20vmin);
    }
    to
    {
        transform: translateX(0vmin);
    }
}

header img:hover
{
    transform: scale(1.3,1.3);
}

nav
{
    margin-right: 6vmin;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav > a
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vmin;
    width: 12vmin;
    height: 6vmin;
    margin-left: 2vmin;
    border: 0.2vmin solid rgb(33, 33, 33);
    transition: 1s;
    color: white;
    text-decoration: none;
}

nav > a:hover
{
    border: 0.2vmin solid white;
}

section
{
    width: 100%;
    height: 150vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

#home
{
    padding-top: 15vmin;
}

/* home */

#home > img
{
    width: 20vmin;
    height: 20vmin;
}

/* section-1 */

#section-1 > h4
{
    color: white;
}

/* section-2 */

#section-2
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#section-2 > div
{
    width: 30vmin;
    height: 50vmin;
    background-color: rgb(121, 121, 121);
    padding-left: 2vmin;
    padding-top: 1vmin;
    padding-bottom: 1vmin;
    padding-right: 2vmin;
    margin: 2vmin;
    transition: 2s;
}

#section-2 > div > img
{
    width: 15vmin;
    height: 15vmin;
}

#section-2 > div > h2
{
    color: white;
}

#section-2 > div > button
{
    width: 15vmin;
    height: 5vmin;
    background-color: rgb(85, 255, 70);
    border: 0 solid rgba(0,0,0,0);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;
}

/* section-3 */

#section-3 > div > div
{
    display: flex;
    flex-direction: row;
    width: 105vmin;
}

.block
{
    color: white;
    height: 7vmin;
    width: 21vmin;
    font-size: 3vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* section-4 */

#section-4 > div
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.glassblock
{
    width: 14vmin;
    height: 14vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    transition: 2s;
}

#whiteglass:hover > *
{
    color: black;
    transition: 2s;
}

#whiteglass:not(:hover) > *
{
    transition: 2s;
}

.glassblock > *
{
    color: white;
}

#rgbblock
{
    width: 10vmin;
    height: 10vmin;
    z-index: 1;
    position: absolute;
    border-radius: 2vmin;
    box-shadow: 0 2vmin 4vmin rgba(255,0,0,0.25), 0 2vmin 2vmin rgba(255,0,0,0.22);
    transform: translateX(0vmin);
    opacity: 0;
    transition: 2s;
}

/* section-5 */

#buttonmenu
{
    width: 15vmin;
    height: 5vmin;
    background-color: rgb(73, 216, 60);
    color: rgb(255, 255, 255);
    border: 0 solid rgba(0,0,0,0);
}

#menu
{
    width: 40vmin;
    height: 45vmin;
    position: fixed;
    background-color: white;
    top: 53%;
    right: -50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 2s;
}

#menuheadzone
{
    background-color: rgb(7, 34, 186);
    width: 40vmin;
    height: 5vmin;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#menuheadzone > *
{
    margin: 0 2vmin;
    color: white;
}

#menupngzone
{
    background-color: rgb(7, 34, 186);
    width: 40vmin;
    height: 20vmin;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#menupngzone > img
{
    width: 15vmin;
    height: 15vmin;
}

#menutxtzone
{
    width: 40vmin;
    height: 20vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menutxtzone > *
{
    color: black;
    text-align: center;
    margin: 1vmin;
}

#smallclosemenu
{
    background-color: rgb(7, 34, 186);
    color: rgb(255, 255, 255);
    border: 0 solid rgba(0,0,0,0);
}

#bigclosemenu
{
    width: 12vmin;
    height: 5vmin;
    background-color: rgb(7, 34, 186);
    color: rgb(255, 255, 255);
    border: 0 solid rgba(0,0,0,0);
}

/* section-6 */

#buttonbylik
{
    width: 12vmin;
    height: 6vmin;
    border-radius: 2vmin;
    background-color: rgb(255, 0, 195);
    border: 0 solid rgba(0,0,0,0);
    color: white
}

.zerobylik
{
    position: relative;
    border: 0.4vmin solid rgba(255, 0, 195,1);
    border-radius: 100vmin;
    opacity: 0;
    transition: 1.5s;
}

.bylik
{
    position: relative;
    border: 0.4vmin solid rgba(255, 0, 195,1);
    background-color: rgba(255, 0, 195,1);
    border-radius: 100vmin;
    opacity: 0;
    transition: 1.5s;
}

#bylik-1
{
    top: 0vmin;
    left: -5vmin;
    width: 2vmin;
    height: 2vmin;
    animation: bylikbylikzero infinite 1.5s;
}

#bylik-2
{
    top: 17vmin;
    left: 5vmin;
    width: 2vmin;
    height: 2vmin;
    animation: bylikbylik infinite 1.5s;
}

#bylik-3
{
    top: -25vmin;
    left: -15vmin;
    width: 2.5vmin;
    height: 2.5vmin;
    animation: bylikbylikzero infinite 1.5s;
}

#bylik-4
{
    top: 32vmin;
    left: 23vmin;
    width: 2.5vmin;
    height: 2.5vmin;
    animation: bylikbylik infinite 1.5s;
}

#bylik-5
{
    left: -35vmin;
    width: 3vmin;
    height: 3vmin;
    animation: bylikbylikzero infinite 1.5s;
}

#bylik-6
{
    left: 35vmin;
    width: 3vmin;
    height: 3vmin;
    animation: bylikbylik infinite 1.5s;
}

#bylik-7
{
    top: -20vmin;
    left: -65vmin;
    width: 3.5vmin;
    height: 3.5vmin;
    animation: bylikbylikzero infinite 1.5s;
}

#bylik-8
{
    top: 27vmin;
    left: 65vmin;
    width: 3.5vmin;
    height: 3.5vmin;
    animation: bylikbylik infinite 1.5s;
}

@keyframes bylikbylik
{
    from
    {
        border: 0.2vmin solid rgba(255, 0, 195,0);
        background-color: rgba(255, 0, 195,0);
        transform: scale(0);
    }
    10%
    {
        border: 0.2vmin solid rgba(255, 0, 195,1);
        background-color: rgba(255, 0, 195,1);
        transform: scale(0.25);
    }
    20%
    {
        transform: scale(0.5);
    }
    30% 
    {
        transform: scale(0.75);
    }
    40%
    {
        transform: scale(1);
    }
    50% 
    {
        transform: scale(1.25);
    }
    60%
    {
        transform: scale(1.5);
    }
    70%
    {
        transform: scale(1.75);
    }
    80%
    {
        transform: scale(2);
    }
    90%
    {
        transform: scale(2.25);
    }
    to
    {
        transform: scale(0);
        border: 0.2vmin solid rgba(255, 0, 195,0);
        background-color: rgba(255, 0, 195,0);
    }
}

@keyframes bylikbylikzero
{
    from
    {
        border: 0.2vmin solid rgba(255, 0, 195,0);
        transform: scale(0);
    }
    10%
    {
        border: 0.2vmin solid rgba(255, 0, 195,1);
        transform: scale(0.25);
    }
    20%
    {
        transform: scale(0.5);
    }
    30% 
    {
        transform: scale(0.75);
    }
    40%
    {
        transform: scale(1);
    }
    50% 
    {
        transform: scale(1.25);
    }
    60%
    {
        transform: scale(1.5);
    }
    70%
    {
        transform: scale(1.75);
    }
    80%
    {
        transform: scale(2);
    }
    90%
    {
        transform: scale(2.25);
    }
    to
    {
        border: 0.2vmin solid rgba(255, 0, 195,0);
        transform: scale(0);
    }
}

/* section-7 */

#section-7 > div
{
    width: 42vmin;
    height: 12vmin;
    border-radius: 2vmin;
    background-color: rgb(122, 122, 122);
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-7 > div > div
{
    width: 32vmin;
    height: 4vmin;
    background-color: white;
    display: flex;
    flex-direction: row;
    border: 0.1 solid rgba(0,0,0,0);
    border-radius: 2vmin;
}

#dog
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4vmin;
}

#number
{
    width: 5vmin;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#inputvvod
{
    width: 22vmin;
    border: 0 solid rgba(0,0,0,0);
}

#inputvvod:focus
{
    outline: none;
}